@import "../../../assets/style/variables";

@mixin create-new-user {
	.create-new-user {
		.password-container {
			width: 100%;
			display: flex;
			position: relative;
			align-items: center;
			button {
				right: 8px;
				padding: 0;
				width: 24px;
				height: 24px;
				border: none;
				outline: none;
				font-size: 16px;
				position: absolute;
				background-color: transparent;
			}
		}
		.input-new-user-role .custom-input-form {
			display: flex;
			justify-content: space-between;
			.chip {
				display: flex;
			}
		}
		.form-group .invalid-feedback {
			display: block;
			margin-bottom: 0;
		}
	}
}

.user-datatable-toolbar {
	top: 0;
	height: 64px;
	display: flex;
	padding: 0 16px;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.user-datatable-toolbar {
		height: 48px;
		position: relative;
		button {
			margin: auto;
		}
	}
}