// Color Collection
$primaryColor: #0067F4;
$secondaryColor: #5A6169;
$successColor: #17C671;
$infoColor: #00B8D8;
$warningColor: #FFB400;
$dangerColor: #C4183C;
$lightColor: #E9ECEF;
$lightColorSecondary: #f1f1f1;
$darkColor: #212529;

$maxMobileSize: 425px;
$maxTabletSize: 768px;

$mobile: 425px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-lg: 1440px;

:export {
	mobile: $mobile;
	tablet: $tablet;
	desktopSm: $desktop-sm;
	desktopLg: $desktop-lg;
}