// Color Collection
$primaryColor: #0067F4;
$secondaryColor: #5A6169;
$successColor: #17C671;
$infoColor: #00B8D8;
$warningColor: #FFB400;
$dangerColor: #C4183C;
$lightColor: #E9ECEF;
$lightColorSecondary: #f1f1f1;
$darkColor: #212529;

$maxMobileSize: 425px;
$maxTabletSize: 768px;