@import "../../assets/style/variables";

$sidebarChildItemHeight: 48px;

.root {
	width: 100%;
	height: 100%;
	.appbar {
		z-index: 1;
		width: 100%;
		height: 64px;
		display: flex;
		position: relative;
		background-color: white;
		box-shadow: 3px 0 30px rgba(17,31,93,.08), 2px 0 5px rgba(27,27,43,.09);
	}
	.body {
		width: 100%;
		display: flex;
		align-self: stretch;
		height: calc(100% - 64px);
		.overlay-dark {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			transition-duration: 500ms;
			background-color: rgba($darkColor,.5);
		}
		.overlay-dark-inactive {
			opacity: 0;
			visibility: hidden;
		}
		// Sidebar
		$sidebarSize: 300px;
		$sidebarMinimizeSize: 56px;
		.sidebar {
			height: 100%;
			overflow: hidden;
			position: relative;
			width: $sidebarSize;
			background-color: white;
			transition-duration: 500ms;
			box-shadow: 3px 0 30px rgba(17, 31, 93, 0.08), 2px 0 5px rgba(27, 27, 43, 0.09);
			.sidebar-toggle {
				right: 0;
				padding: 0;
				border: none;
				outline: none;
				cursor: pointer;
				position: absolute;
				width: $sidebarMinimizeSize;
				height: $sidebarMinimizeSize;
				background-color: transparent;
				hr {
					width: 40%;
					height: 2px;
					border: none;
					margin: auto;
					border-radius: 1px;
					transition-duration: 500ms;
					background-color: $secondaryColor;
				}
				hr:nth-child(2) {
					margin: 4px auto;
					transition-duration: 250ms !important;
				}
			}
			.toggle-close {
				hr:first-child {
					transform: rotateZ(45deg) translateY(4.5px) translateX(4.5px);
				}
				hr:nth-child(2) {
					opacity: 0;
				}
				hr:last-child {
					transform: rotateZ(-45deg) translateY(-4.5px) translateX(4.5px);
				}
			}
			.divider {
				width: 100%;
				height: 1px;
				border: none;
				transition-duration: 500ms;
				background-color: $lightColor;
				margin: $sidebarMinimizeSize 0 0 0;
			}
			.navbar-content {
				opacity: 0;
				margin-top: 16px;
				visibility: hidden;
				transition-duration: 250ms;
				.navbar-item {
					.first-row {
						height: 56px;
						display: flex;
						padding: 0 16px;
						cursor: pointer;
						flex-wrap: nowrap;
						align-items: center;
						box-sizing: border-box;
						justify-content: space-between;
						p {
							margin: 0;
							font-size: 18px;
							letter-spacing: 1px;
							white-space: nowrap;
							font-weight: lighter;
							color: $secondaryColor;
						}
						button {
							width: 24px;
							height: 24px;
							border: none;
							outline: none;
							color: #5A6169;
							font-size: 16px;
							cursor: pointer;
							border-radius: 4px;
							transition-duration: 250ms;
							background-color: transparent;
							&:hover, &:active {
								background-color: $lightColor;
							}
							.fa-angle-left {
								transition-duration: 500ms;
							}
							.fas-rotated {
								transform: rotateZ(-90deg);
							}
						}
						.expanded {
							background-color: $lightColor;
						}
					}
					.child-item {
						height: 0;
						overflow: hidden;
						padding-left: 16px;
						background-color: $lightColor;
						transition-duration: 500ms;
						.navbar-item .first-row {
							height: $sidebarChildItemHeight;
							p {
								font-size: 16px;
							}
						}
					}
					.child-expanded {
						height: auto;
					}
				}
			}
			.navbar-content-visible {
				opacity: 1;
				visibility: visible;
			}
		}
		.sidebar-inactive {
			width: $sidebarMinimizeSize;
		}
		// Content
		.content {
			height: 100%;
			flex-grow: 1;
			padding: 16px;
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			.content-body {
				flex-grow: 1;
				margin-bottom: 16px;
			}
			.body-footer-card {
				padding: 16px;
				display: flex;
				border-radius: 4px;
				box-sizing: border-box;
				background-color: white;
				justify-content: space-between;
				.copyright-text {
					margin: 0;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 1px;
					color: $secondaryColor;
				}
			}
		}
		@media screen and (max-width: $maxMobileSize) {
			.sidebar {
				position: absolute;
			}
			.content {
				padding-left: 16px + $sidebarMinimizeSize;
				.body-footer-card .copyright-text {
					font-size: 12px;
				}
			}
		}
	}
}

:export {
	sidebarChildItemHeight: $sidebarChildItemHeight
}