@import "../../assets/style/variables";
@import "User/index";

$sidebarChildItemHeight: 48px;

.home-modal {
	@include createUserModal;
}

.root {
	width: 100%;
	height: 100%;
	.appbar {
		z-index: 2;
		width: 100%;
		height: 64px;
		display: flex;
		padding: 0 32px;
		position: relative;
		align-items: center;
		justify-content: flex-end;
		background-color: $secondaryColor;
		box-shadow: 3px 0 30px rgba(17,31,93,.08), 2px 0 5px rgba(27,27,43,.09);
		.user-loggedin {
			position: relative;
			&:focus {
				.user-loggedin-dialog {
					top: 64px;
					opacity: 1;
					visibility: visible;
				}
			}
			&:focus, &:hover {
				.selector-container {
					background-color: rgba($lightColor,.2);
				}
			}
			.selector-container {
				height: 44px;
				padding: 6px;
				display: flex;
				cursor: pointer;
				flex-wrap: nowrap;
				letter-spacing: 1px;
				border-radius: 22px;
				box-sizing: border-box;
				transition-duration: 250ms;
				* {
					cursor: pointer;
				}
				.user-logo-text {
					width: 32px;
					height: 32px;
					display: flex;
					margin-right: 8px;
					border-radius: 50%;
					align-items: center;
					color: $secondaryColor;
					justify-content: center;
					transition-duration: 250ms;
					background-color: $lightColor;
					p {
						margin: 0;
						font-size: 14px;
					}
				}
				.user-identity {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					p {
						margin: 0 8px 0 0;
						color: $lightColor;
					}
					button {
						padding: 0;
						border: none;
						outline: none;
						display: flex;
						margin: 0 8px 0 0;
						flex-wrap: nowrap;
						color: $lightColor;
						align-items: center;
						background-color: transparent;
					}
				}
			}
			.user-loggedin-dialog {
				right: 0;
				top: 56px;
				opacity: 0;
				width: 250px;
				padding: 16px;
				border-radius: 4px;
				position: absolute;
				visibility: hidden;
				box-sizing: border-box;
				background-color: white;
				transition-duration: 500ms;
				box-shadow: 3px 0 30px rgba(17,31,93,.08), 2px 0 5px rgba(27,27,43,.09);
			}
		}
	}
	.body {
		width: 100%;
		display: flex;
		position: relative;
		align-self: stretch;
		height: calc(100% - 64px);
		.overlay-dark {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			transition-duration: 500ms;
			background-color: rgba($darkColor,.5);
		}
		.overlay-dark-inactive {
			opacity: 0;
			visibility: hidden;
		}
		// Sidebar
		$sidebarSize: 300px;
		$sidebarMinimizeSize: 56px;
		.sidebar {
			z-index: 1;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			position: relative;
			width: $sidebarSize;
			padding-bottom: 32px;
			box-sizing: border-box;
			background-color: white;
			transition-duration: 500ms;
			box-shadow: 3px 0 30px rgba(17, 31, 93, 0.08), 2px 0 5px rgba(27, 27, 43, 0.09);
			.sidebar-toggle {
				right: 0;
				padding: 0;
				border: none;
				outline: none;
				cursor: pointer;
				position: absolute;
				width: $sidebarMinimizeSize;
				height: $sidebarMinimizeSize;
				background-color: transparent;
				hr {
					width: 40%;
					height: 2px;
					border: none;
					margin: auto;
					border-radius: 1px;
					transition-duration: 500ms;
					background-color: $secondaryColor;
				}
				hr:nth-child(2) {
					margin: 4px auto;
					transition-duration: 250ms !important;
				}
			}
			.toggle-close {
				hr:first-child {
					transform: rotateZ(45deg) translateY(4.5px) translateX(4.5px);
				}
				hr:nth-child(2) {
					opacity: 0;
				}
				hr:last-child {
					transform: rotateZ(-45deg) translateY(-4.5px) translateX(4.5px);
				}
			}
			.divider {
				width: 100%;
				height: 1px;
				border: none;
				transition-duration: 500ms;
				background-color: $lightColor;
				margin: $sidebarMinimizeSize 0 0 0;
			}
			.navbar-content {
				opacity: 0;
				margin-top: 16px;
				visibility: hidden;
				transition-duration: 250ms;
				.navbar-item {
					.first-row {
						height: 56px;
						display: flex;
						padding: 0 16px;
						cursor: pointer;
						flex-wrap: nowrap;
						align-items: center;
						box-sizing: border-box;
						justify-content: space-between;
						p {
							margin: 0;
							font-size: 18px;
							letter-spacing: 1px;
							white-space: nowrap;
							font-weight: lighter;
							color: $secondaryColor;
							i {
								margin-right: 8px;
							}
						}
						button {
							width: 24px;
							height: 24px;
							border: none;
							outline: none;
							color: #5A6169;
							font-size: 16px;
							cursor: pointer;
							border-radius: 4px;
							transition-duration: 250ms;
							background-color: transparent;
							&:hover, &:active {
								background-color: $lightColor;
							}
							.fa-angle-left {
								transition-duration: 500ms;
							}
							.fas-rotated {
								transform: rotateZ(-90deg);
							}
						}
						.expanded {
							background-color: $lightColor;
						}
					}
					.child-item {
						height: 0;
						overflow: hidden;
						padding-left: 16px;
						background-color: $lightColor;
						transition-duration: 500ms;
						.navbar-item .first-row {
							height: $sidebarChildItemHeight;
							p {
								font-size: 16px;
							}
						}
					}
					.child-expanded {
						height: auto;
					}
				}
			}
			.navbar-content-visible {
				opacity: 1;
				visibility: visible;
			}
		}
		.sidebar-inactive {
			overflow: hidden;
			width: $sidebarMinimizeSize;
		}
		// Content
		.content {
			height: 100%;
			flex-grow: 1;
			padding: 16px;
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			transition-duration: 500ms;
			.content-body {
				flex-grow: 1;
				margin-bottom: 16px;
			}
			.body-footer-card {
				display: flex;
				padding: 16px 24px;
				border-radius: 4px;
				box-sizing: border-box;
				background-color: white;
				justify-content: space-between;
				.lang-switcher {
					display: flex;
					font-size: 14px;
					flex-wrap: nowrap;
					color: $secondaryColor;
					.separator {
						margin: 0 4px;
					}
					.current-locale {
						font-weight: bold;
					}
					p {
						margin: 0;
						cursor: pointer;
					}
				}
				.copyright-text {
					margin: 0;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 1px;
					color: $secondaryColor;
				}
			}
		}
		.content-blur {
			filter: blur(2px);
			-webkit-filter: blur(2px);
		}
		@media screen and (max-width: $maxMobileSize) {
			.sidebar {
				position: absolute;
			}
			.content {
				padding-left: 16px + $sidebarMinimizeSize;
				.body-footer-card {
					.copyright-text, .lang-switcher {
						font-size: 12px;
					}
				}
			}
		}
	}
}

:export {
	sidebarChildItemHeight: $sidebarChildItemHeight
}