.department-datatable-toolbar {
	top: 0;
	width: 100%;
	height: 64px;
	display: flex;
	padding: 0 16px;
	position: absolute;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.department-datatable-toolbar {
		height: 48px;
		position: relative;
		button {
			margin: auto;
		}
	}
}